*{
    background: mintcream;
}
.headers{
    margin-left: 10;
    width: 100%;
    position: center;
    top: 2px;
    left: 270;
    display: flex;
    border-style: double;
    text-align: center;
}
.sidebar{
    margin: 10;
    padding: 10;
    width: 250px;
    position: relative;
    height: 100%;
    overflow: auto;
    border-style: double;
}
.page {
    widows: 500px;
}
.sidebar{
    float: left;
    width: 250px;
}
.content{
    float: left;
    width: 500px;
    margin: 10;
    border-style: double;
}
.quot{
    font-family: 'Oswald', math;
    font-style: normal;
}